.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  .image-holder {
    overflow: hidden;
    position: relative;
    height: 95%;
    width: 100%;
    margin-bottom: 5px;

    .image {
      position: absolute;
      margin: auto auto;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
